<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="ImageStack Tests Suite">
            <file>tests/ImagePathTests.php</file>
            <file>tests/ImageTests.php</file>
            <file>tests/RuleTests.php</file>
            <file>tests/ImageOptimizerTests.php</file>
            <file>tests/ImageBackendTests.php</file>
            <file>tests/ImageManipulatorTests.php</file>
            <file>tests/WatermarkImageManipulatorTests.php</file>
            <file>tests/RawFileCacheTests.php</file>
            <file>tests/StorageBackendTests.php</file>
            <file>tests/ImageStackTests.php</file>
        </testsuite>
    </testsuites>
</phpunit>